[submodule "netlogo-clawmodel-backend"]
	path = netlogo-clawmodel-backend
	url = https://github.com/brunslo/netlogo-clawmodel-backend
[submodule "netlogo-clawmodel-frontend"]
	path = netlogo-clawmodel-frontend
	url = https://github.com/brunslo/netlogo-clawmodel-frontend
